*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial;
}
.contenedor{
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
}
.tarjeta{
	display: flex;
	flex: 1 1 auto;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	font-size: 1.1em;
	border: solid 1px gray;
}
.tarjeta > .nombre{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	width: 20%;
}
.tarjeta > .comentario{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	width: 60%;
}
.tarjeta > .calificacion{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	width: 20%;
}
.area{
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
}
.renglon{
	display: flex;
	justify-content: center;
	margin: 10px;
	padding: 10px;
}
.renglon > select{
	height: 40px;
	font-size: 1.1em;
}
.renglon > button{
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.1em;
	background-color: white;
	border: solid 1px #8a3dba;
	border-radius: 10px;
	transition: all ease 0.3s;
}
.renglon > button:hover{
	cursor: hand;
	cursor: pointer;
	color: white;
	background-color: #8a3dba;
	border: solid 1px #8a3dba;
}
.regreso{
	margin-top: 15px;
	display: flex;
	justify-content: flex-start;
	margin-left: 20px;
}
.regreso > a{
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 1.1em;
	background-color: #2452bd;
	padding: 10px;
	border-radius: 10px;
	border: solid 1px #2452bd;
	transition: all ease 0.3s;
}
.regreso > a:hover{
	background-color: white;
	color: black;
}