*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial;
}

.panel{
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.panel-opc{
	margin-left: 15px;
	margin-right: 15px;
}
.panel-opc > a{
	text-decoration: none;
	color: white;
	font-size: 1.3em;
}
.area{
	display: flex;
	flex: 1 1 auto;
}
.panel-der, .panel-izq{
	display: flex;
	flex-flow: column;
	align-items: center;
	border-radius: 15px;
	border: solid 1px gray;
	margin: 5px;
}
.panel-der{
	flex: 3 1 auto;
	align-items: center;
	justify-content: center;
}

.panel-izq{
	width: 600px;
}
.informacion{
	display: flex;
	flex: 1 1 auto;
	flex-flow: column;
}
.informacion > .mi-foto{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	background-color: white;
	overflow: hidden;
	border: solid gray 1px;
	height: 200px;
	width: 200px;
}
.mi-foto > img{
	width: 100%;
	object-position: center;
}
.informacion > .datos{
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.informacion > .botones{
	margin-top: 10px;
	display: flex;
	flex-flow: column;
	align-items: center;
	flex: 1 1 auto;
}
.botones > button{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 1.0em;
	width: 100%;
	height: 45px;
	border-radius: 10px;
	border: solid gray 1px;
}

.i-panel{
	font-size: 1.1em;
}
.i-panel-u{
	font-size: 1.0em;
	color: gray;
}
button:hover{
	cursor: hand;
	cursor: pointer;
}

form{
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
	font-size: 1.1em;
	justify-content: center;
	align-items: center;
}
form > input{
	margin-top: 20px;
	border: solid 1px gray;
	border-radius: 15px;
	padding: 15px;
	height: 50px;
}
form > button{
	margin-top: 15px;
	border-radius: 10px;
	width: 100%;
	font-size: 1.1em;
	padding: 10px;
	border: solid 1px gray;
}
.renglon{
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
}
.renglon > button{
	width: 200px;
	height: 40px;
	font-size: 1.1em;
	border: solid 1px gray;
	border-radius: 10px;
}