*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial;
}
.contenedor{
	display: flex;
	flex-flow: column;
}
form{
	margin-top: 20px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column;
	align-items: center;
}
form > button{
	padding: 10px;
	margin: 10px;
	width: 20%;
	border: solid 1px #194ce4;
	border-radius: 10px;
	font-size: 1.1em;
	background-color: white;
	transition: all ease 0.3s;
}
textarea{
	resize: none;
	width: 80%;
	height: 100px;
	font-size: 1.0em;
	padding: 10px;
}

button:hover{
	cursor: hand;
	cursor: pointer;
	background-color: #194ce4;
	color: white;
}
.leyenda{
	display: flex;
	font-size: 1em;
	color: gray;
	width: 80%;
	justify-content: flex-end;
}
.renglon{
	display: flex;
	flex: 1 1 auto;
}
.renglon > a{
	text-decoration: none;
	color: black;
	background-color: white;
	border: solid 1px #4521a9;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 10px;
	border-radius: 10px;
	font-size: 1.1em;
	transition: all ease 0.3s;
}
.renglon > a:hover{
	background-color: #4521a9;
	color: white;
}