
.contenido{
	display: flex;
	flex-flow: column;
	background-color: skyblue;
}
.separador{
	display: flex;
	flex: 1 1 auto;
	margin-top: 10px;
	background-color: gray;
	color: white;
	font-size: 1.2em;
	justify-content: center;
}
.grupo{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}	