*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial;
}
.contenedor{
	display: flex;
	flex-flow: column;
}
.contenido{
	display: flex;
	justify-content: center;
	flex: 1 1 auto;
}
.elementos{
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
	max-width: 80%;
}
.lista{
	display: flex;
	flex: 1 1 auto;
	margin: 10px;
	padding: 10px;
	border: solid 1px #5f66d5;
	border-radius: 10px;
	background-color: #5f66d5;
	color: white;
	font-size: 1.1em;
}
.b-lista{
	display: flex;
	flex: 1 1 auto;
	margin: 10px;
	padding: 10px;
	border: solid 1px gray;
	border-radius: 10px;
	background-color: gray;
	color: white;
	font-size: 1.1em;
}

.l-nombre{
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	max-width: 15%;
}
.l-descripcion{
	display: flex;
	flex: 5 1 auto;
	border: solid 1px white;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	max-width: 65%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.l-archivos{
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	max-width: 10%;
}
.l-estado{
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	max-width: 10%;
}
.titulos{
	margin-top: 20px;
	display: flex;
	flex-flow: column;
	align-items: center;
	flex: 1 1 auto;
	font-size: 1.3em;
}

.centrado{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	flex: 1 1 auto;
	padding: 15px;
}
.centrado > a{
	font-size: 1.1em;
	text-decoration: none;
	color: black;
	display: flex;
	padding: 10px;
	margin-left: 15px;
	border: solid 1px #279b7c;
	border-radius: 10px;
	transition: all ease 0.3s;
}
.centrado > a:hover{
	background-color: #279b7c;
	color: white;
}

.cabecera{
	display: flex;
	flex: 1 1 auto;
	margin: 10px;
	padding: 10px;
	border: solid 1px #5f66d5;
	border-radius: 10px;
	color: black;
	font-size: 1.1em;
}
a.fase-enlace{
	text-decoration: none;
}

a.calificar{
	background-color: white; 
	border: solid 1px #ff7f27;
}
a.calificar:hover{
	background-color: #ff7f27; 
	color: white;
}